allennlp==0.9.0
torch>=1.0.0
tokenizers==0.7.0 #for spacytokenizer
#tokenizers==0.9.4  #upgrade for calculating ELMO embeddings only
#git+https://github.com/allenai/allennlp.git@4749fc3 #for allennlp>=1.0.0
word2number>=1.1
py-rouge==1.1
